micronaut:
  server:
    cors:
      enabled: true
      configurations:
        web:
          allowed-origins:
            - "https://laboratoriodesenvolvimentosoftware.vercel.app"
            - "http://localhost:5173"
            - "http://localhost:3000"
          allowed-methods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
          allowed-headers:
            - "*"
          allow-credentials: true
          max-age: 3600